.callout {
  background: $turquoise;
  color: $page-colour;
  padding: $gutter;
  text-align: center;
  margin-top: $gutter * 1.5;

  @extend %contain-floats;

  .callout__heading {
    margin-top: 0;
  }

  .ref-number {
    font-size: 27px;
    font-weight: bold;
    //text-transform: uppercase;
    margin-bottom:0.25em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
