/*
* styles for callouts
* mainly used on confirmation or done pages
*/

.callout {
  background: $turquoise;
  color: $page-colour;
  padding: $gutter;
  text-align: center;
  margin-top: $gutter * 1.5;

  @extend %contain-floats;

  .callout__heading {
    margin-top: 0;
  }

  .ref-number {
    font-size: 27px;
    font-weight: bold;
    //text-transform: uppercase;
    margin-bottom:0.25em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.confirmation-callout {
  margin-bottom: 0;

  .confirmation--title {
    margin: 15px 0;
  }
}

/*
* include styles for in page callout sections
* such as errors or warnings
*/
.panel {
  &-error { 
    border-color: $error-colour;
    color: $error-colour;
    font-weight: 700;
    background: lighten($error-colour, 55); }
  &-warning { 
    border-color: $yellow;
    background: lighten($yellow, 30);}
}