// An inline definition list - name:value pairs for example
.definition-inline {
  @extend %contain-floats;
  dt {
    font-weight: bold;
    clear: left;
    float: left;
    margin-right: $gutter-half;
    &:after {
      content: ':';
    }
  }
  dd {
    float: left;
  }

  &--inverse {
    dd {
      font-weight: bold;
    }
    dt {
      font-weight: normal;
    }
  }
}
