/*
* styles used for documentation like 
* sections of the prototype
*/

.documentation-section {
  margin-top: $gutter;
}

code {
  background: #f5f5f5;
  padding: 3px 3px;
  border-radius: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.docs-figure {
  border: 1px solid $border-colour;
  background: $highlight-colour;

  figcaption {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
  }
}