{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large text">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Using PaaS for
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Purpose
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            About your service
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Stage
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">service statue</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Target audience
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">who service is for</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your service hosting requirements
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Postgres
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">service statue</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          MySQL
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">who service is for</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Redis
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">who service is for</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          MongoDB
        </td>
        <td>

        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">who service is for</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Now submit your answers</h2>

  <p class="text">
    Thank you for taking the time to complete this survey for us. Your input will help us make the best PaaS possible for Government.
  </p>

  <div class="form-group">
    <a href="confirmation-page" class="button">Accept and submit answers</a>
  </div>

</main>

{% endblock %}
