// Import all GOV.UK CSS things first
@import "../govuk_elements/public/sass/main.scss";

//@import "patterns/product-page.scss";

@import "utils/printable";

@import "modules/breadcrumbs.scss";
@import "modules/content-section.scss";
@import "modules/govuk-logo.scss";
@import "modules/header.scss";
@import "modules/hero.scss";
@import "modules/hero-button.scss";
@import "modules/hero-alternative-action.scss";
@import "modules/masthead.scss";
@import "modules/phase-banner.scss";
@import "modules/skip-link.scss";

@import "patterns/callouts.scss";
@import "patterns/definition-lists.scss";

@import "components/forms.scss";
@import "components/documentation.scss";
@import "components/typography.scss";
@import "components/paas-dashboard-pages.scss";

/* some general styles, consider moving to separate files / components / patterns */
#main {
  display: block;
  margin-bottom: $gutter * 3;
}

.container {
  @extend %site-width-container;
}

/*
* additional content below form
* on request an account page
*/
.further-info-section {
  margin-top: $gutter * 1.5;

  &:before {
    content: " ";
    border-top: 1px solid $border-colour;
    margin-top: $gutter;
    margin-bottom: $gutter;
    display: block;
    max-width: 30em;
  }
}

/*
* details, summary sections
* on dashboard page
*/
.secondary-info {
  margin: $gutter 0;

  &_content {
    border-left: 4px solid $border-colour;
    margin-left: 4px;
    padding: 5px 0 5px 15px;
  }
}

/* block colour role flag */
.role-flag {
  font-weight: 700;
  color: $page-colour;
  background: $purple;
  padding: 3px 8px 2px;
  margin-left: 5px;
}

/*
* tick icon in circle on 
* account activated / completed page
*/
.icon-tick {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid $page-colour;
  padding: 5px;
}
