// Import all GOV.UK CSS things first
@import "../govuk_elements/public/sass/main.scss";

//@import "patterns/product-page.scss";

@import "utils/printable";

@import "modules/breadcrumbs.scss";
@import "modules/content-section.scss";
@import "modules/govuk-logo.scss";
@import "modules/header.scss";
@import "modules/hero.scss";
@import "modules/hero-button.scss";
@import "modules/hero-alternative-action.scss";
@import "modules/masthead.scss";
@import "modules/phase-banner.scss";
@import "modules/skip-link.scss";

@import "patterns/callouts.scss";

#main {
  display: block;
  margin-bottom: $gutter * 3;
}

.container {
  @extend %site-width-container;
}

.with-hr {
  border-bottom: 1px solid $grey-2;
  padding: $gutter-half 0;
}

.form {
  @extend %contain-floats;
}

.documentation-section {
  margin-top: $gutter;
}

code {
  background: #f5f5f5;
  padding: 3px 3px;
  border-radius: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.highlight {
  font-weight: 700;
}

.form-additional-link {
  display: block;
  margin-top: 15px;
}

.dashboard-section {
  .action-link {
    float: right;
    margin-top: -50px;
  }
  p:last-child {
    margin-top: $gutter;
  }
}

.space {
  margin-top: 10px;
  border-top: 1px solid $border-colour;
}

.apps-list {
  border-right: 1px solid $border-colour;
}

.edit-name {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

.space-section {
  margin-bottom: $gutter * 2;

  &__heading {
    margin-top: 0;
  }
}

.bottom-gutter {
  margin-bottom: $gutter;
}

.space-list-item {
  border-top: 1px solid $border-colour;
  padding: 8px 5px 5px;

  &:last-child {
    border-bottom: 1px solid $border-colour;
  }

  .user-name {
    margin-bottom: 5px;
  }
}

.hint {
  color: $secondary-text-colour;
}