// Import all GOV.UK CSS things first
@import "../govuk_elements/public/sass/main.scss";

//@import "patterns/product-page.scss";

@import "utils/printable";

@import "modules/breadcrumbs.scss";
@import "modules/content-section.scss";
@import "modules/govuk-logo.scss";
@import "modules/header.scss";
@import "modules/hero.scss";
@import "modules/hero-button.scss";
@import "modules/hero-alternative-action.scss";
@import "modules/masthead.scss";
@import "modules/phase-banner.scss";
@import "modules/skip-link.scss";

@import "patterns/callouts.scss";

#main {
  display: block;
  margin-bottom: $gutter * 3;
}

.container {
  @extend %site-width-container;
}

.with-hr {
  border-bottom: 1px solid $grey-2;
  padding: $gutter-half 0;
}