{% macro space_listing( space ) %}
<div class="column-full">
  <div class="space">
    <h3 class="heading-medium">
      {{ space.name }}
      {% if space.access %}<span class="edit-name"><a href="">Edit name</a></span>{% endif %}
    </h3>
  </div>
</div>
{% if space.access %}
<div class="column-half apps-list">
  <p>There are {{ space.no_of_apps }} apps hosted in this space.</p>
  <p><a href="{{ url_for('ss.space', space=space.name) }}">Manage apps</a></p>
</div>
<div class="column-half">
  <p>There are {{ space.no_of_members }} people with access to this space.</p>
  <p><a href="{{ url_for('ss.space', space=space.name) }}">Manage access</a></p>
</div>
{% else %}
<div class="column-full">
  <p class="panel panel-warning text">You do not have access to this space. If you need access contact one of the space managers.</p>
</div>
{% endif %}
{% endmacro %}