{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Check your phone</h1>

    <p>We’ve sent you a text message with a security code.</p>

    <form autocomplete="off" method="post">
      <div class="form-group" data-module="autofocus">
        <label class="form-label" for="sms_code">
          Text message code
        </label>
        <input class="form-control form-control-1-8" data-module="" id="sms_code" name="sms_code" rows="8" type="text" value="">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
        <a class="form-additional-link" href="/text-not-received">Not received a text message?</a>
      </div>

    </form>
  </div>
</div>

</main>

{% endblock %}