{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Account</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <section class="dashboard-section">
    <h2 class="heading-large">
      <span class="heading-secondary">Organisation</span>
      {{ ORG.name }}
    </h2>

    <h4 class="heading-small">Org managers</h4>
    <table>
      <tbody>
        {% for mgr in ORG.managers %}
        <tr>
          <td>{{ mgr.name }}</td>
          <td>{{ mgr.email }}</td>
          <td><a href="">Contact</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <details class="secondary-info">
      <summary>What are organisations?</summary>
      <div class="text secondary-info_content">
        <p>Your account belongs to at least one organisation within PaaS. This typically represents the real-world organisation, department or team you work for.</p>
        <p><a href="https://docs.cloud.service.gov.uk/#organisations">Read more about Organisations.</a></p>
      </div>
    </details>
  </section>

  <section class="dashboard-section grid-row">
    <div class="column-full">
      <h2 class="heading-large">Spaces</h2>

      <p class="lede">2 spaces available</p>
      <a href="{{ url_for('ss.create_space') }}" class="action-link">Create new space</a>
    </div>

    {% from "partial/account_overview/space.html" import space_listing %}

    {% for space in ORG.spaces %}
    {{ space_listing( space ) }}
    {% endfor %}

    <details class="secondary-info column-full">
      <summary>What are spaces?</summary>
      <div class="text secondary-info_content">
        <p>Each organisation is divided into one or more spaces, which are used to organise app development, deployment, and maintenance.</p>
        <p><a href="https://docs.cloud.service.gov.uk/#spaces">Read more about Spaces</a></p>
      </div>
    </details>

  </section>

<!-- ORG MANAGER
  -->

</main>

{% endblock %}