{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Account</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <section class="dashboard-section">
    <h2 class="heading-large">Organisation</h2>
    <p class="text">Your account belongs to at least one organisation within PaaS. This typically represents the real-world organisation, department or team you work for.</p>
    <p class="lede">You belong to the <span class="highlight">csd-sso</span> organisation.</p>
    <h4 class="heading-small">Org managers</h4>
    <table>
      <tbody>
        <tr>
          <td>Andy Driver</td>
          <td>andy.driver@digital.cabinet-office.gov.uk</td>
          <td><a href="">Contact</a></td>
        </tr>
        <tr>
          <td>Peter Chamberlin</td>
          <td>peter.chamberlin@digital.cabinet-office.gov.uk</td>
          <td><a href="">Contact</a></td>
        </tr>
      </tbody>
    </table>
    <p><a href="">Read more about Organisations</a></p>
  </section>

  <section class="dashboard-section grid-row">
    <div class="column-full">
      <h2 class="heading-large">Spaces</h2>
      <p class="text">Each organisation is divided into one or more spaces, which are used to organise app development, deployment, and maintenance.</p>
      <p class="lede">2 spaces available</p>
      <a href="" class="action-link">Create new space</a>
    </div>

    <div class="column-full">
      <div class="space">
        <h3 class="heading-medium">
          Sandbox
          <span class="edit-name"><a href="">Edit name</a></span>
        </h3>
      </div>
    </div>
    <div class="column-half apps-list">
      <p>There are 5 apps hosted in this space.</p>
      <p><a href="">Manage apps</a></p>
    </div>
    <div class="column-half">
      <p>There are 4 people with access to this space.</p>
      <p><a href="">Manage access</a></p>
    </div>

    <div class="column-full">
      <div class="space">
        <h3 class="heading-medium">
          Production
          <span class="edit-name"><a href="">Edit name</a></span>
        </h3>
      </div>
    </div>
    <div class="column-half apps-list">
      <p>There are 3 apps hosted in this space.</p>
      <p><a href="">Manage apps</a></p>
    </div>
    <div class="column-half">
      <p>There are 12 people with access to this space.</p>
      <p><a href="">Manage access</a></p>
    </div>

    <div class="column-full">
      <p><a href="">Read more about Spaces</a></p>
    </div>
  </section>

<!-- ORG MANAGER
  -->

</main>

{% endblock %}