{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.account') }}" itemprop="item"><span itemprop="name">{{ paas_app.org_name|default('csd-sso') }}</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.space') }}" itemprop="item"><span itemprop="name">{{ paas_app.space_name|default('Sandbox') }}</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">{{ paas_app.name|default('testapp') }}</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-large">
    <span class="heading-secondary">{{ paas_app.space_name|default('Sandbox') }}</span>
    {{ paas_app.name }}
  </h1>

  {{ paas_app.last_deploy }}

  <p>Instances: {{ paas_app.instances }}</p>

</main>
{% endblock %}