{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.account') }}" itemprop="item"><span itemprop="name">{{ ORG.name }}</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.space', space=paas_app.space) }}" itemprop="item"><span itemprop="name">{{ paas_app.space | default('Sandbox') | capitalize  }}</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">{{ paas_app.name|default('testapp') }}</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-large">
    <span class="heading-secondary">{{ paas_app.space | default('Sandbox') | capitalize }}</span>
    {{ paas_app.name }}
  </h1>

  {% if not paas_app.running %}
  <p class="panel panel-error text">This app is not running. It has been down since 13-03-2017.</p>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">App details</h2>
      
      {% if not paas_app.data_fetched %}
      <p class="panel panel-warning text">Unable to fetch app details at this time. Try again later or try on the commandline.</p>
      {% else %}


      <dl class="definition-inline definition-inline--inverse">
        <dt>Name</dt>
        <dd>{{ paas_app.name }}</dd>
        <dt>Instances</dt>
        <dd>{{ paas_app.instances }}</dd>
        <dt>Memory</dt>
        <dd>{{ paas_app.memory }}</dd>
        <dt>Disk</dt>
        <dd>{{ paas_app.disk }}</dd>
        <dt>Cost per instance</dt>
        <dd>£{{ paas_app.cost }} month to date (<a href="">see total bill</a>)</dd>
        <dt>URL</dt>
        <dd><a href="http://{{ paas_app.name }}.cloudapps.digital">{{ paas_app.name }}.cloudapps.digital</a></dd>
      </dl>
    </div>
    <div class="column-third">
      <aside class="app-details-aside">
        <h3 class="heading-medium">Is your app production ready?</h3>
        <a href="https://paas-tech-docs.cloudapps.digital/#production-checklist">How to make your app production ready documentation</a>
      </aside>
    </div>
  </div>

  <h2 class="heading-medium">Deployments</h2>

  <dl class="definition-inline definition-inline--inverse">
    <dt>Last deploy</dt>
    <dd>{{ paas_app.last_deploy }}</dd>
    <dt>Deployed by</dt>
    <dd>{{ paas_app.deployed_by }}</dd>
    <dt>Deploy logs</dt>
    <dd><a href="">View last deploy logs</a></dd>
  </dl>

  <p><a href="https://paas-tech-docs.cloudapps.digital/#deployment-overview">Find out more about deploying on the PaaS</a></p>

  <h2 class="heading-medium">Alerts</h2>

  <p>The app has the following alerts set up:</p>

  {% if paas_app.alerts and paas_app.alerts.setup %}

  <dl class="definition-inline definition-inline--inverse">
    <dt>Deployments</dt>
    <dd>{{ paas_app.alerts.deployments }}</dd>
    <dt>App goes down</dt>
    <dd>{{ paas_app.alerts.goesdown }}</dd>
  </dl>

  {% else %}

  <p class="panel panel-warning text">Currently there are no alerts set up to monitor this app. <a href="">Would you like to set up alerts?</a></p>

  {% endif %}
  {% endif %}

  <section class="documentation-section">
    <h3 class="heading-medium">On the commandline</h3>
    <p>You can also view the same information on the commandline, to see details for all of your apps use:</p>
    <p><code>cf apps</code></p>

    <p><a href="https://docs.cloud.service.gov.uk/#quick-setup-guide">Read more about using PaaS on the commandline.</a></p>
  </section>

</main>
{% endblock %}