{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.account') }}" itemprop="item"><span itemprop="name">{{ ORG.name }}</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.space') }}" itemprop="item"><span itemprop="name">{{ paas_app.space_name|default('Sandbox') }}</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">{{ paas_app.name|default('testapp') }}</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-large">
    <span class="heading-secondary">{{ paas_app.space_name|default('Sandbox') }}</span>
    {{ paas_app.name }}
  </h1>

  <h2 class="heading-medium">App details</h2>

  <dl class="definition-inline definition-inline--inverse">
    <dt>Name</dt>
    <dd>{{ paas_app.name }}</dd>
    <dt>Instances</dt>
    <dd>{{ paas_app.instances }}</dd>
    <dt>Memory</dt>
    <dd>{{ paas_app.memory }}</dd>
    <dt>Disk</dt>
    <dd>{{ paas_app.disk }}</dd>
    <dt>URL</dt>
    <dd><a href="http://{{ paas_app.name }}.cloudapps.digital">{{ paas_app.name }}.cloudapps.digital</a></dd>
  </dl>

</main>
{% endblock %}