{% extends "layout.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large">Create a new service</h1>

  <form action="" class="form">

    <fieldset>

      <legend class="visuallyhidden">Create a new service</legend>

    </fieldset>

    <div class="form-group">
      <button class="button">Create service</button>
    </div>

  </form>

</main>
{% endblock %}