{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Welcome to the flask prototyping tool</h1>

  <p class="lede">This is the <em>index.html</em> page, useful for adding page links, resources and the like</p>

  <h2 class="heading-large">Pages</h2>

  <ul class="list-bullet">
    <li>
      <a href="{{ url_for('base.product_page') }}">
        Product page
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.sign_in') }}">
        Sign in page
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.two_fa') }}">
        2FA
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.request_account') }}">
        Request account
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.request_submitted') }}">
        Request submitted page
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.account') }}">
        Account
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.create_space') }}">
        Create a new space
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.space', space='sandbox') }}">
        Space page
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.space_add_user') }}">
        Space add user
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.app_details', appname='ags-proto') }}">
        App details page
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.user_info') }}">
        User info page
      </a>
    </li>
  </ul>

  <hr />

  <ul class="list-bullet">
    <li>
      <a href="{{ url_for('ss.services') }}">
        List of your services
      </a>
    </li>
    <li>
      <a href="{{ url_for('ss.create_service') }}">
        Create a new service
      </a>
    </li>
  </ul>

  <h2 class="heading-large">Resources</h2>

  <ul class="list-bullet">
    <li>
      <a href="https://github.com/colmjude/flask_prototyping">
        Flask prototype documentation
      </a>
    </li>
    <li>
      <a href="http://govuk-elements.herokuapp.com/snippets/">
        Guide to GOV.UK elements HTML
      </a>
    </li>
    <li>
      <a href="https://github.com/alphagov/govuk_frontend_toolkit">
        Frontend toolkit repo
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/service-manual">
        Service design manual
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/design-principles">
        Government Digital Service Design Principles
      </a>
    </li>
</ul>


</main>
{% endblock %}