{% extends "layout-menu-bar.html" %}

{% block header_title %}
Platform as a Service
<span class="phase-banner">Beta</span>
{% endblock %}

{% block header_nav %}
<nav id="navigation" class="header__navigation" aria-label="Top Level Navigation" aria-hidden="true">
  <ul>
    <li>
      <a href="#main">
        About
      </a>
    </li>
    <li>
      <a href="/features.html">
        Features
      </a>
    </li>
    <li>
      <a href="/roadmap.html">
        Roadmap
      </a>
    </li>
    <li>
      <a href="https://docs.cloud.service.gov.uk">
        Documentation
      </a>
    </li>
    <li>
      <a href="/support.html">
        Support
      </a>
    </li>
  </ul>
</nav>
{% endblock %}