{% set global_product_name = "Platform as a Service" %}
{% extends "layout_prodpage.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_title %}
Platform as a Service
<span class="phase-banner">Beta</span>
{% endblock %}

{% block header_nav %}
<nav id="navigation" class="header__navigation" aria-label="Top Level Navigation" aria-hidden="true">
  <ul>
    <li class="active">
      <a href="#main">
        About
      </a>
    </li>
    <li>
      <a href="https://www.cloud.service.gov.uk/features.html">
        Features
      </a>
    </li>
    <li>
      <a href="https://www.cloud.service.gov.uk/roadmap.html">
        Roadmap
      </a>
    </li>
    <li>
      <a href="https://docs.cloud.service.gov.uk">
        Documentation
      </a>
    </li>
    <li>
      <a href="/support.html">
        Support
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Deploy and run government applications</h1>
        <div class="hero__inline-image">
          <img src="/images/paas-top-image.png" alt="" role="presentation">
        </div> 
        <p class="hero__description">
          GOV.UK Platform as a Service (PaaS) is a quick, easy and cheap way to deploy and host government applications. GOV.UK PaaS manages the platform infrastructure, so you can focus on building your digital services.
        </p>
        <a href="{{ url_for('ss.request_account') }}" role="button" class="hero-button">
          Ask for a trial account
        </a>

        <span>or <a href="{{ url_for('ss.sign_in') }}"> sign in</a> if you've used it before</span>

        <p>You’ll be able to deploy test applications in a safe environment and test the features of the command line tool.</p>
      </div>
      <div class="hero__aside-image">
          <img src="static/images/paas-top-image.png" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>

<main role="main">

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <section class="content-section">
          <h2 class="heading-large content-section__first-heading">Benefits of GOV.UK PaaS</h2>
          <p class="content-section__body">Using GOV.UK PaaS means teams can deploy and run applications without having to build and manage their own infrastructure. This avoids unnecessary repetition across government, with infrastructure and webops engineers spending less time solving the same problems.</p>
          <p class="content-section__body">Service teams can:</p>
          <ul class="list list-bullet">
            <li>save time and money on setting up a hosting infrastructure</li>
            <li>deploy and run applications written in <a href="https://www.cloud.service.gov.uk/features.html">a range of languages and frameworks</a></li>
            <li>rapidly scale applications</li>
            <li>easily manage applications</li>
            <li>get 24-hour platform-level support</li>
            <li>get started easily with a simple procurement process</li>
          </ul>
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 class="heading-large content-section__first-heading">What it is</h2>
          <p class="content-section__body">GOV.UK PaaS is hosted by Amazon Web Services (AWS) and runs from AWS’s European data centre in Ireland. GOV.UK PaaS:</p>
            <ul class="list list-bullet">
              <li>is resilient since it operates across three independent availability zones</li>
              <li>supports a PostgreSQL database service (powered by AWS)</li>
              <li>allows SSH access to containers</li>
              <li>is accredited for handling personal and confidential information classified as Official</li>
              <li>is built on an open source platform (<a href="https://www.cloudfoundry.org/">Cloud Foundry</a>) and deployed to a public cloud</li>
              <li>is flexible since applications aren’t locked into one cloud provider</li>
          </ul>
          <p class="content-section__body">GOV.UK PaaS is already being used by the GOV.UK Trade Tariff live service, as well as several services building prototypes.</p>
          <p class="content-section__body"><a href="https://www.cloud.service.gov.uk/features.html">Find out more about GOV.UK PaaS</a>. This includes how it’s built, run and supported, as well as how to use it.</p>
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 class="heading-large content-section__first-heading">What you pay for</h2>
          <p class="content-section__body">You pay for what you use, like hosting, compute resource and backing services such as a database. The Government Digital Service (GDS) will pay for building and maintaining the platform.</p>
                <p class="content-section__body">The overall cost depends on factors such as the number of environments you deploy to, the size and number of your applications and whether they need to have high availability.</p>

        </section>

            <section class="content-section content-section--with-top-border">
          <h2 class="heading-large content-section__first-heading">Criteria for deploying an application to GOV.UK PaaS</h2>
          <p class="content-section__body">Your application can run on GOV.UK PaaS if it:</p>
          <ul class="list list-bullet">
              <li>follows the twelve-factor application principles – this will be the case if your application was written to be deployed to another PaaS, such as Heroku</li>
              <li>doesn’t require any backing service apart from a PostgreSQL database</li>
              <li>doesn’t carry data certified as Secret or above</li>
              <li>is written in a <a href="https://www.cloud.service.gov.uk/features.html">supported language</a></li>
          </ul>

        </section>




  <!--
      <div class="column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Related content</h2>
          <ul class="related-items__list">
            <li><a href="#">A link</a></li>
            <li><a href="#">Another link</a></li>
            <li><a href="#">A third link</a></li>
          </ul>
        </aside>
      </div>
    </div>
  -->

    <!-- <section class="content-section content-section--with-top-border">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-large content-section__first-heading">A full-width section</h2>
          <p class="content-section__body">This section is full-width on tablet and above.</p>
        </div>
      </div>
    </section>
  -->

    <!--<div class="grid-row">
      <div class="column-half"> -->
        <section class="content-section content-section--with-top-border">
          <h2 class="heading-medium content-section__first-heading">Ready to try it?</h2>
          <p class="content-section__body"><a href="{{ url_for('ss.request_account') }}">Request a PaaS account</a>.</p>
        </section>

      </div>
      <!-- <div class="column-half">
        <section class="content-section">
          <img src="/images/paas-team.png" alt="Members of the GOV.UK PaaS team holding a meeting" class="content-section__image"> 
        </section> -->
     <!-- </div>
    </div> -->


  </div>

  </div>


</main>

{% endblock %}