{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large">Request a PaaS account</h1>

  <form action="" class="form">

    <fieldset>

      <legend class="visuallyhidden">Request a PaaS account</legend>

      <div class="form-group">
        <label class="form-label" for="email-f1">Email</label>
        <input class="form-control" id="email-f1" type="text">
      </div>

      <div class="form-group">
        <label class="form-label" for="department-f2">Department</label>
        <input class="form-control" id="department-f2" type="text">
      </div>

      <div class="form-group">
        <label class="form-label" for="ip-address-f3">IP address
          <span class="form-hint">We need to be able to whitelist your IP address</span>
        </label>
        <input class="form-control" id="ip-address-f3" type="text">
      </div>

      <div class="form-group">
        <label class="form-label" for="service-name-f4">Name of service team / programme</label>
        <input class="form-control" id="service-name-f4" type="text">
      </div>

    </fieldset>

    <div class="form-group">
      <button class="button">Request account</button>
    </div>

    <a href="">Forgot your password?</a>

    <h2 class="heading-medium">Joining a team</h2>

    <p class="text">If your team is already using GOV.UK PaaS and you need an account, ask an Org Manager on your team to make the request.</p>

    <h2 class="heading-medium">Your privacy</h2>

    <p class="text">We need to store data about you to provide your account. See our <a href="https://docs.cloud.service.gov.uk/#privacy-policy">privacy policy</a> for details.</p>

  </form>

</main>
{% endblock %}