{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="link-back">Back</a>

  <h1 class="heading-large">Sign in to your PaaS account</h1>

  <form action="" class="form">

    <fieldset>

      <legend class="visuallyhidden">Sign in to your PaaS account</legend>

      <div class="form-group">
        <label class="form-label" for="work-email">Email address</label>
        <input class="form-control" name="work-email" type="text" id="work-email">
      </div>

      <div class="form-group">
        <label class="form-label" for="password-input">Password</label>
        <input class="form-control" name="work-email" type="password" id="password-input">
      </div>

    </fieldset>

    <div class="form-group">
      <button class="button">Sign in</button>
    </div>

    <a href="">Forgot your password?</a>

  </form>

</main>
{% endblock %}