{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.account') }}" itemprop="item"><span itemprop="name">{{ ORG.name }}</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">sandbox</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{ ORG.name }}</span>
    {{ space.name | capitalize }}
  </h1>

  <section id="space-users" class="space-section">
    <div class="grid-row bottom-gutter">
      <div class="column-two-thirds">
        <h2 class="heading-large space-section__heading">
          Space users
        </h2>
      </div>
      <div class="column-third">
        <a href="{{ url_for('ss.space_add_user') }}" class="button">Add user</a>
      </div>
    </div>

    <ul class="space-list">

      {% from "partial/spaces/user.html" import user_listing %}

      {% for user in space.users %}
      {{ user_listing(user, space.name) }}
      {% endfor %}

    </ul>
    <p><a href="https://docs.cloud.service.gov.uk/#managing-users">Find out more about managing users on PaaS</a>.</p>
  </section>

  <section id="space-apps" class="space-section">
    <div class="grid-row bottom-gutter">
      <div class="column-two-thirds">
        <h2 class="heading-large space-section__heading">
          Space apps
        </h2>
      </div>
    </div>

    <ul class="space-list">

      {% from "partial/spaces/apps.html" import paas_app_listing %}

      {% for papp in space.apps %}
      {{ paas_app_listing(papp) }}
      {% endfor %}

    </ul>
    <p><a href="https://docs.cloud.service.gov.uk/#managing-apps">Find out more about apps on PaaS</a>.</p>
  </section>

</main>
{% endblock %}