{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('ss.account') }}" itemprop="item"><span itemprop="name">csd-sso</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">sandbox</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">csd-sso</span>
    Sandbox
  </h1>

  <section class="space-section">
    <div class="grid-row bottom-gutter">
      <div class="column-two-thirds">
        <h2 class="heading-large space-section__heading">
          Space users
        </h2>
      </div>
      <div class="column-third">
        <a href="{{ url_for('ss.space_add_user') }}" class="button">Add user</a>
      </div>
    </div>

    <ul class="space-list">
      <li class="space-list-item">
        <h3 class="user-name">Colm Britton&ensp;<span class="hint">(you)</span></h3>
        <div class="grid-row">
          <div class="column-third">
            Space manager
          </div>
          <div class="column-third">
            Last active: 08-03-17
          </div>
          <div class="column-third">
            <a href="">Edit permissions</a>
          </div>
        </div>
      </li>
      <li class="space-list-item">
        <h3 class="user-name">Tom Dolan&ensp;<span class="hint">tom.dolan@digital.cabinet-office.gov.uk</span></h3>
        <div class="grid-row">
          <div class="column-third">
            Space developer
          </div>
          <div class="column-third">
            Last active: 07-03-17
          </div>
          <div class="column-third">
            <a href="">Edit permissions</a>
          </div>
        </div>
      </li>
      <li class="space-list-item">
        <h3 class="user-name">Holly Challenger&ensp;<span class="hint">holly.challenger@digital.cabinet-office.gov.uk</span></h3>
        <div class="grid-row">
          <div class="column-third">
            Space manager
          </div>
          <div class="column-third">
            Last active: 04-03-17
          </div>
          <div class="column-third">
            <a href="">Edit permissions</a>
          </div>
        </div>
      </li>
      <li class="space-list-item">
        <h3 class="user-name">Niall Booth&ensp;<span class="hint">niall.booth@digital.cabinet-office.gov.uk</span></h3>
        <div class="grid-row">
          <div class="column-third">
            Space developer
          </div>
          <div class="column-third">
            Last active: 06-03-17
          </div>
          <div class="column-third">
            <a href="">Edit permissions</a>
          </div>
        </div>
      </li>
    </ul>
    <p><a href="https://docs.cloud.service.gov.uk/#managing-users">Find out more about managing users on PaaS</a>.</p>
  </section>

  <section class="space-section">
    <div class="grid-row bottom-gutter">
      <div class="column-two-thirds">
        <h2 class="heading-large space-section__heading">
          Space apps
        </h2>
      </div>
    </div>

    <ul class="space-list">
      <li class="space-list-item">
        <h3 class="user-name"><span class="highlight">ags-proto</span>&ensp;<a href="https://ags-proto.cloudapps.digital">https://ags-proto.cloudapps.digital</a></h3>
        <div class="grid-row">
          <div class="column-two-thirds">
            Last deploy: 08-03-17 12:34
          </div>
          <div class="column-third">
            <a href="{{ url_for('ss.app_details', appname='ags-proto') }}">View more details</a>
          </div>
        </div>
      </li>
      <li class="space-list-item">
        <h3 class="user-name"><span class="highlight">gateway</span>&ensp;<a href="https://ags-proto.cloudapps.digital">https://gateway.cloudapps.digital</a></h3>
        <div class="grid-row">
          <div class="column-two-thirds">
            Last deploy: 23-02-17 14:29
          </div>
          <div class="column-third">
            <a href="{{ url_for('ss.app_details', appname='gateway') }}">View more details</a>
          </div>
        </div>
      </li>
      <li class="space-list-item space-list-item__error">
        <h3 class="user-name"><span class="highlight">oidc-client</span>&ensp;<a href="https://ags-proto.cloudapps.digital">https://oidc-client.cloudapps.digital</a></h3>
        <div class="grid-row">
          <div class="column-two-thirds">
            Last deploy: 17-02-17 17:31
          </div>
          <div class="column-third">
            <a href="{{ url_for('ss.app_details', appname='oidc-client') }}">View more details</a>
          </div>
        </div>
        <p class="error-msg">This app is down.</p>
      </li>
      <li class="space-list-item">
        <h3 class="user-name"><span class="highlight">keycloak</span>&ensp;<a href="https://ags-proto.cloudapps.digital">https://keycloak.cloudapps.digital</a></h3>
        <div class="grid-row">
          <div class="column-two-thirds">
            Last deploy: 23-01-17 11:14
          </div>
          <div class="column-third">
            <a href="{{ url_for('ss.app_details', appname='keycloak') }}">View more details</a>
          </div>
        </div>
      </li>
    </ul>
    <p><a href="https://docs.cloud.service.gov.uk/#managing-apps">Find out more about apps on PaaS</a>.</p>
  </section>

</main>
{% endblock %}