{% extends "layout-paas.html" %}

{% block page_title %}Sample page - Flask prototyping{% endblock %}

{% block header_nav %}
  {% set username = "Colm Britton" %}
  {% include "partial/signed-in-top-nav.html" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{{ url_for('base.product_page') }}" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">User info</span></a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-large">My profile</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <table class="user-info-table">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>John Smith</td>
          <td><a href="edit-name">Change</a></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>john.smith@email.gov.uk</td>
          <td></td>
        </tr>
        <tr>
          <td>Organisation:</td>
          <td>{{ ORG.name }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Spaces:</td>
          <td><a href="{{ url_for('ss.space', space='sandbox') }}">Sandbox</a> (Space manager) 
            <span class="space-list-profile"><a href="{{ url_for('ss.space', space='preview') }}">Preview</a> (Space developer)</span>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Joined date:</td>
          <td>8 Sep 2016 – 11:14:22</td>
          <td></td>
        </tr>
        <tr>
          <td>Mobile number:</td>
          <td>+447769897329</td>
          <td><a href="edit-mobile-number">Change</a></td>			
        </tr>
        <tr>
          <td>Password:</td>
          <td>Last changed 12 February at 10:39am</td>
          <td><a href="edit-password">Change</a></td>			
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column-one-third">
    <div class="profile-aside">
      <p>You cannot give yourself access to a space you are not the space manager for. If you need access to a space contact the respective space manager.</p>
    </div>
  </div>
</div>
</main>
{% endblock %}